/* 首页/列表中的文章标题链接加粗 */
main h2 a { font-weight: 700 !important; }

.header-emoji {
  font-size: 1em;
  line-height: 1;
}

.intro-en {
  display: block;
  margin-bottom: 0.2em;
  font-size: 1.05rem;
  line-height: 1.45;
  color: var(--content-secondary);
  font-family: "Snell Roundhand", "Bradley Hand", "Segoe Print", "Apple Chancery", "Brush Script MT", "Comic Sans MS", cursive;
  letter-spacing: 0.01em;
}

.intro p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--content-secondary);
  font-style: italic;
}

.intro p a {
  color: var(--content-secondary);
  font-style: italic;
}

.intro-icon {
  display: inline-block;
  font-size: 0.8rem;
  line-height: 1;
  vertical-align: -0.08em;
  margin-right: 0.2em;
}

.intro-icon-spaced {
  margin-left: 0.8em;
}

.intro-icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
