{{/* Header */}}

<div class="header">

    {{ if or (not (.Param "hideHeader")) .IsHome }}

    <h1 class="header-title">
        <a href="{{ site.BaseURL }}">
            {{ site.Title }}{{ if .IsHome }} <span class="header-emoji" aria-hidden="true">🌳</span>{{ end }}
        </a>
    </h1>
    {{ if .IsHome }}
    <p class="header-subtitle">
        This world is as splendid and colorful as a garden; I wander like an ant,
        and when I pause from time to time, I leave a note on a leaf.
    </p>
    {{ end }}

    <div class="header-menu">
        {{ $currentPage := . }}

        {{ with site.Params.menu }}
        {{ range . }}

        <p
            class="small {{ if eq .name (lower $currentPage.Name) }} bold {{end}}">
            <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab
                }}target="_blank" rel="noopener noreferrer" {{ end }}>
                /{{.name }}
            </a>
        </p>
        {{ end }}
        {{ end }}
    </div>

    {{ end }}

</div>
